####Flaming Wookie
-------------------
Simple functional programing library

To add all of this functionality to your function,
Simply use the **@Function** decorator.

In [22]:
from functionality import *

In [28]:
@Function
def add(*args):
    return sum(args)
@Function
def mul(a,b):
    return a*b
@Function
def twice(a):
    return a*2

You can now add and multiply functions as follows:

Assuming that T and S are functions: 

    T(*args); S(*args)
    T+S = T(*args) + S(*args)
    T*S = T(S(*args))
So we can easily see that:

    x = twice * (add + mul) -> twice(add(*args) + mul(*args))
    x(1,2) = twice(add(1,2) + mul(1,2)) = twice(3 + 2) = twice(5) = 10

In [29]:
x = twice * (add + mul)
x(1,2) == 2 * ((1+2) + (1*2))

True

In [30]:
(twice ** 3)(3) == 2 * 2 * 2 * 3

True

Ranges can store a range and run multiple functions the range:

In [37]:
@Function
def thrice(num, *args):
    return num*3
Range(range(1,4), twice, thrice)

The **identity** function is just:

    identity = lambda x: x
    
We can use it, with the fact that functions can be multiplied by a scalar:

    T(*args) [function]; x [scalar]
    T * x = T(*args) * x
    func = identity * 3 = identity(x)*3 = x * 3
    func(3) = 3 * 3 = 9

In [44]:
Range(range(1,11), 
      *[identity*i for i in range(1,11)])

Matrix is a range for multiple range. Each function should accept the right amount of arguments.

In [43]:
@Function
def pow(a, b):
    return a**b
Matrix(ranges=[range(0,10,5),range(10,20,5)], 
       functions=[pow, mul, add, combine(twice, thrice)])